.navbar {  margin-bottom:0;  }
.bar-navigation {  margin-bottom: 20px;  }
.bar-navigation, .navbar, .navbar-spacer {  background-color: #2698D6;  }
.bar-navigation .row {  background-color: #2186CE; }
.nav-market .nav-market-item a { color: #ffffff; }
.bar-navigation, .bar-navigation .row {  box-shadow: inset 0 -18px 14px -14px rgba(0,0,0,0.2);  }
.nav-market-container {  margin-left: -15px;  }
